<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter CJR - Cadastro</title>
    <link rel="stylesheet" href="css/leo-cadastro.css">
  </head>

  <body>

    <nav>
      <div class="bubble inline-block">
          <a href="/">
            <img
              class="cjr-logo"
              src="img/cjr.png"
              alt="Logo da CJR">
          </a>
      </div>

      <div style="flex-grow: 1;"></div>

      <div class="inline-block">
        <a class="no-underline" href="cadastro">
          <button style="background:#8BC34A; border-radius: 16px; padding: 12px; cursor: pointer; color:#222E50; border: none; font-size: 16px;">Criar
            Conta</button>
        </a>

        <a class="no-underline" href="login">
          <button style="background:#222E50; border-radius: 16px; padding: 12px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Entrar</button>
        </a>

      </div>
    </nav>

    <main class="two-columns">

      <div class="flex-center-y">
        <img src="../img/grandecjr.png.png">
      </div>

      <div class="flex-center-y">
        <form method="post" class="register-card">
          <img
            class="user-img"
            src="../img/ph_user-circle-thin.png"
            width="200"
            alt="Image representing a generic user">
          <input
            type="text"
            name="username"
            placeholder="Nome">
          <input
            type="text"
            name="genero"
            placeholder="Gênero">
          <input
            type="text"
            name="cargo"
            placeholder="Cargo">
          <input
            type="text"
            name="email"
            placeholder="Email">
          <input
            type="password"
            name="password"
            placeholder="Senha">

          <p>Possui conta?
            <a href="login">Acesse aqui!</a>
          </p>

          <button type="submit">Cadastrar</button>
        </form>
      </div>

    </main>

  </body>

</html>
