<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <!-- fontawesome cdn for icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="css/feed.css">

    <!-- SimpleMDE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

  </head>
  <body>
    <header class="header-bg">
      <div class="header">
        <a href="/">
          <img src="img/Logo.png" alt="CJR">
        </a>
        <nav>
          <ul class="header-menu">
            <li class="tipo-A">
              <a href="cadastro">Criar Conta</a>
            </li>
            <li class="tipo-B">
              <a href="login">Entrar</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container-feed">

      {% if user %}
          <div>
              <button
                      class="new-post-button rounded bg-green"
                      onclick="toggleCommentModal()">
                  Criar publicação
              </button>
          </div>
      {% endif %}

      {% if posts.length == 0 %}
          <p style="color: white; text-align: center;">
              Não há nenhum post aqui ainda, seja o primeiro a postar!
          </p>
      {% endif %}

      {% for post in posts %}
        <div class="box-feed">
            <article class="flex flex-row align-start">
                <div class="box-header Flex">
                    <img class="imagem"
                         width="74"
                         src="{{ post.user.profilePicture }}"
                         alt="imagem de perfil">
                </div>
                <div class="texto">
                    <p class="align-with-pfp">{{ post.user.username }}
                    <span style="color: #676D75">
                        · 17 de mar</span>
                    </p>

                    <p>{{ post.content | markdown-it}}</p>
                    <div class="comentario">
                        <a href="/comments/{{ post.id }}">
                            <img src="./img/comentario_18x18.png">
                        </a>
                    </div>
                </div>
            </article>
        </div>
      {% endfor %}
    </div>

    <div class="comment-modal modal hidden" >
      <div class="background" onclick="toggleCommentModal()"></div>
      <aside>
        <h1>Novo post</h1>
        <div class="textarea-wrapper">
          <textarea></textarea>
        </div>
        <div class="modal-buttons">
          <button class="cancel bg-transparent">Cancelar</button>
          <button
              class="publish rounded bg-green"
              onclick="publishPost()">
              Publicar
          </button>
        </div>
      </aside>
    </div>

    <!-- SimpleMDE -->
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
      let element = document.querySelector('.comment-modal textarea');
      let simplemde = new SimpleMDE({element});

      function toggleCommentModal() {
          document.querySelector('.comment-modal').classList.toggle('hidden');
      }

      async function publishPost() {
          let content = simplemde.value();

          let response = await fetch('/post', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ content })
          })

          response = await response.json();

          window.location.reload();
      }
    </script>

  </body>
</html>
