<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <!-- fontawesome cdn for icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="css/feed.css">

    <!-- SimpleMDE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

  </head>
  <body>
    <header class="header-bg">
      <div class="header">
        <a href="./">
          <img src="img/Logo.png" alt="CJR">
        </a>
        <nav>
          <ul class="header-menu">
            <li class="tipo-A">
              <a href="cadastro">Criar Conta</a>
            </li>
            <li class="tipo-B">
              <a href="login">Entrar</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container-feed">
      <div class="box-feed">
        <div class="box-header Flex">
          <img
            class="imagem"
            src="./img/usuario.png"
            alt="imagem de perfil">
          <p>{{ user.username }} .
            <span style="color: #676D75">
              17 de mar</span>
          </p>
        </div>
        <div class="texto">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin.</p>
        </div>
        <div class="comentario">
          <img src="./img/comentario_18x18.png">
        </div>
      </div>
      <div class="box-feed">
        <div class="box-header Flex">
          <img
            class="imagem"
            src="./img/usuario.png"
            alt="imagem de perfil">
          <p>{{ user.username }} .
            <span style="color: #676D75">
              17 de mar</span>
          </p>
        </div>
        <div class="texto">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin.</p>
        </div>
        <div class="comentario">
          <img src="./img/comentario_18x18.png">
        </div>
      </div>
      <div class="box-feed">
        <div class="box-header Flex">
          <img
            class="imagem"
            src="./img/usuario.png"
            alt="imagem de perfil">
          <p>{{ user.username }} .
            <span style="color: #676D75">
              17 de mar</span>
          </p>
        </div>
        <div class="texto">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin.</p>
        </div>
        <div class="comentario">
          <img src="./img/comentario_18x18.png">
        </div>
      </div>
      <div class="box-feed">
        <div class="box-header Flex">
          <img
            class="imagem"
            src="./img/usuario.png"
            alt="imagem de perfil">
          <p>{{ user.username }} .
            <span style="color: #676D75">
              17 de mar</span>
          </p>
        </div>
        <div class="texto">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin.</p>
        </div>
        <div class="comentario">
          <img src="./img/comentario_18x18.png">
        </div>
      </div>
    </div>

    <div class="comment-modal modal hidden">
      <aside>
        <h1>Novo comentário</h1>
        <div class="textarea-wrapper">
          <textarea></textarea>
        </div>
        <div class="modal-buttons">
          <button class="cancel">Cancelar</button>
          <button class="publish">Publicar</button>
        </div>
      </aside>
    </div>

    <!-- SimpleMDE -->
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
      let element = document.querySelector('.comment-modal textarea');
      let simplemde = new SimpleMDE({element});
    </script>

  </body>
</html>
