<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter CJR - Perfil logado</title>
    <link rel="stylesheet" href="css/logfeed.css">
</head>
<body>
    <nav> 
        <div class="bubble inline-block">
        <img
          class="cjr-logo"
          src="img/cjr.png"
          alt="Logo da CJR">
        </div>

        <div style="flex-grow: 1;"></div>
    <!--
        <div class="bala inline">
            <a href="cadastro"><button style="background:#8BC34A; border-radius: 16px; padding: 12px; cursor: pointer; color:#222E50; border: none; font-size: 16px;">Criar Conta</button> </a>

        </div>

        <div class="chiclete inline">
            <a href="login"><button style="background:#222E50; border-radius: 16px; padding: 12px;  cursor: pointer; color: #fff; border: none; font-size: 16px;">Entrar</button> </a>
        </div>
 
    --> <div class="nomeusuario" >
            <a href="perfil"><button style="background:#8BC34A; border-radius: 16px; padding: 12px; cursor: pointer; color:#FFFF; border: none; font-size: 16px;">Joazin gamer</button> </a>
            </a>
        </div>

        <div class="fotoperfil">
            <a href="perfil"><img class="fotoperfil" src="../img/foto-perfil.png" alt="Foto de perfil" ></a>
        </div>

        <div class="logout">
            <a href="logout" ><img class="logout" src="../img/log-out.png" alt="Imagem de logout" > </a>
         </div>
    </nav>
    </header>         
        <div class="container-feed"> 
            <div class="box-feed"> 
                <div class="box-header Flex">
                    <img class="imagem" src="./img/usuario.png" alt="imagem de perfil">
                    <p>Joazin gamer . <span style="color: #676D75"> 17 de mar</span></p>
                </div>
                <div class="texto"> 
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin.</p> 
                </div>
                <div class="comentario">
                    <img src="./img/comentario_18x18.png">
                </div>                 
            </div>
            <div class="box-feed"> 
                <div class="box-header Flex">
                    <img class="imagem" src="./img/usuario.png" alt="imagem de perfil">
                    <p>Joazin gamer . <span style="color: #676D75"> 17 de mar</span></p>
                </div>
                <div class="texto"> 
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin.</p> 
                </div>
                <div class="comentario">
                    <img src="./img/comentario_18x18.png">
                </div>                 
            </div>
            <div class="box-feed"> 
                <div class="box-header Flex">
                    <img class="imagem" src="./img/usuario.png" alt="imagem de perfil">
                    <p>Joazin gamer . <span style="color: #676D75"> 17 de mar</span></p>
                </div>
                <div class="texto"> 
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin.</p> 
                </div>
                <div class="comentario">
                    <img src="./img/comentario_18x18.png">
                </div>                 
            </div>                        
            <div class="box-feed"> 
                <div class="box-header Flex">
                    <img class="imagem" src="./img/usuario.png" alt="imagem de perfil">
                    <p>Joazin gamer . <span style="color: #676D75"> 17 de mar</span></p>
                </div>
                <div class="texto"> 
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin.</p> 
                </div>
                <div class="comentario">
                    <img src="./img/comentario_18x18.png">
                </div>                 
            </div>
        </div>         
</body>     
