* {
    box-sizing: border-box;
}

body{     /* fundo */
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica,sans-serif;
    background: #111e3e;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  .header-bg {
    background-color: #8BC34A;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 15px 40px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .header-menu {
    display: flex;
    flex-wrap: warp;
    gap: 10px;    /*distancia entre 'criar conta' e 'entrar'*/
  }
  
  .tipo-A {
    font-size: 16px;
    line-height: 1.3;
    padding: 10px 20px;
    display: inline-block;
  
  }
  .tipo-A a {
    color: #111e3e;
    font-weight: bold;
  }
  
  .tipo-B {
    font-size: 1.125rem;
    font-size: 16px;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    background: #222E50;
    color: #fff; 
    display: inline-block;
    border-radius: 12px;
  }
  
  .tipo-B a {
    color: #fff; 
  }
  
  .container{   /* centraliza */
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box{
    background: #222e50;
    padding: 30px 50px;
    border-radius: 10px;
  }
  
  .imagem-usuario {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formulario-titulo {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .formulario-titulo h1{
    margin: 0px;
    color: #0cd6a8;
  }
  
  .formulario-input{
    background: #71767B;
    width: 270px;
    border:1px hidden #c1c1c1;
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  .formulario-input i{
    padding: 8px 16px;
    color: #fff;
    
  }
  .formulario-input input{
    border:1px hidden;
    padding-left: 20px;
    width: 100%;
    outline: none;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .formulario-entrar input{
    border:1px hidden;
    padding-left: 20px;
    width: 80%;
    outline: none;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .esqueceu-senha {
    font-family: arial, verdana, sans-serif;
    text-align: center;
    font-size: 14px;
  }
  .esqueceu-senha a{
    color: #fff;
  }
  
  .submit-btn{
    border:0px hidden #222e50;
    margin-top: 25px;
  }
  
  .submit-btn input{
    background: #fff;
    color: #000;
    cursor: pointer; 
    margin-left: 30px;
    margin-bottom: 20px;
  }
  
  .container-feed {
    max-width: 646px;
    height: 942px;
    margin: 0 auto;
    padding: 6px;
    border-left: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
  }
  
  .box-feed{
    background: #222e50;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
  }
  .box-header {
    margin-top: 10px;
  }
  .Flex {
    /* border: 1px solid #666; */
    display: flex;
    align-items: center;
  }
  /*
  .area-imagem {
    border: 1px solid #666;
    background-image: url('../img/usuario.png'); 
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 25px;
    
  }  */
  .imagem {
    border-radius: 50%;
    padding: 10px;
  }
  
  .texto p {
    /*border: 1px solid #666;*/
    margin: 0px;
    padding: 1px 20px 20px 70px;  /* top right bottom left */
  }
  
  .span {
    color: #0cd6a8;
  }
  .comentario {
    margin: 0px;
    padding: 1px 10px 10px 70px;
  }
  
  .feed {
    color: red;
  }
  
.modal {
    display: grid;
    position: fixed; /* posição fixa independentemente do scroll! */
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal aside {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #111E3E;   
    max-width: 1024px;
    padding: 3em;
    border-radius: 16px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.modal h1 {
    margin: 0 0 1.5em 0;
    color: rgba(255, 255, 255, 0.6);
}

.modal .textarea-wrapper {
    color: white;
    width: calc(min(900px, 100vw - 6em));
    border-radius: 16px;
    background: #222E50;
    padding: 1em;
}

.modal textarea, .modal .CodeMirror {
    width: 100%;
    resize: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 1em;
    outline: none;
}

.modal .CodeMirror-cursor {
    border-color: white;
}

.modal .editor-toolbar {
    border: none;
}

.modal .editor-toolbar a.fa {
    color: white !important;
}

.modal .line {
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 1em;
}

.modal .modal-buttons {
    display: flex;
    justify-content: end;
    margin-top: 1em;
}

.modal .modal-buttons button {
    background: transparent;
    padding: 1em;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.modal .modal-buttons .publish {
    border-radius: 16px;
    background: #8BC34A;
}

.hidden {
    display: none;
}

