*{
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    background: #8BC34A;
    width: 100vw; /* viewport */
    max-width: 100%;
    padding: 1.25em;
}

.cjr-logo {
    display: block;
    line-height: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.no-underline {
    text-decoration: none;
}

main {
    flex-grow: 1;
    background-color: #111E3E;
    width: 100vw;
    max-width: 100%;
    padding: 1.5em; 
    display: grid;
}

.no-margin {
    margin: 0
}

.bubble {
    background-color: #D9D9D9;
    border-radius: 16px; 
    
    
}

.chiclete {
    

}

.bala {
    
}



.logo-cjr {
    display: block;
    line-height: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    



}

.logo-grande-cjr {
    display: inline;
    line-height: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    
    
    
}

.hey {
    display: inline-block;
    vertical-align: middle;
    
    
}

.hello {
    background-color: #222E50;
    display: inline-block;
    border-radius: 10px; 
    width: 547px;
    height: 560px;
    vertical-align: middle;
    
    
}

.input1 {
    width: 401px;
    height: 66px;
    border-radius: 15px;
    display:block;
    

}

.input2 {
    width: 401px;
    height: 66px;
    border-radius: 15px;
    display: block;
    
}

.inline {
    display: inline-block;
}


.quadrado {
    display:inline-block;
    vertical-align: middle;
    margin-left: 3.5em;
    margin-top: 2em;
    margin-right: 1.5em;
}

.retangulo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8em;
}

.conta{
    display: inline-block;
    vertical-align: middle;
    margin-left: 3.5em;
}

.heyhello{
margin: auto;
}
