* {
    box-sizing: border-box;
}

body{     /* fundo */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica,sans-serif;
    background: #111e3e;
}

nav {
    display: flex;
    background: #8BC34A;
    width: 100vw; /* viewport */
    max-width: 100%;
    padding: 1.25em;
}

.no-margin {
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.bubble {
    background: #D9D9D9;
    border-radius: 16px;
}

.cjr-logo {
    display: block;
    line-height: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.no-underline {
    text-decoration: none;
}

main {
    flex-grow: 1;
    width: 100vw;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container{   /* centraliza */
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tela-login{
    background: #222e50;
    padding: 30px 50px;
    border-radius: 10px;
}

.imagem-usuario {
    text-align: center;
    margin-bottom: 20px;
}

.formulario-titulo {
    text-align: center;
    margin-bottom: 30px;
}

.formulario-titulo h1{
    margin: 0px;
    color: #0cd6a8;
}

.formulario-input{
    background: #71767B;
    width: 270px;
    border:1px hidden #c1c1c1;
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;
}
.formulario-input i{
    padding: 8px 16px;
    color: #fff;

}
.formulario-input input{
    border:1px hidden;
    padding-left: 20px;
    width: 100%;
    outline: none;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
}

.formulario-entrar input{
    border:1px hidden;
    padding-left: 20px;
    width: 80%;
    outline: none;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
}

.esqueceu-senha {
    font-family: arial, verdana, sans-serif;
    text-align: center;
    font-size: 14px;
}
.esqueceu-senha a{
    color: #fff;
}

.submit-btn{
    border:0px hidden #222e50;
    margin-top: 25px;
}

.submit-btn input{
    background: #fff;
    color: #000;
    cursor: pointer; 
    margin-left: 30px;
    margin-bottom: 20px;
}

